<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RailWays Cafe">

<listeners>
<listener class-name = "ExtentReportListener.ExtentReporterNG"></listener>
</listeners>
  <test  name="Smoke Test">
    <classes>
      <class name="com.cafe.qa.testcases.LoginPageTest"/>
      <class name="com.cafe.qa.testcases.CreateNewUserTest"/>
      <class name="com.cafe.qa.testcases.EditNewUser"/>
      <class name="com.cafe.qa.testcases.DeleteUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
